/* Global */
#root {
  margin: 0 auto;
  text-align: center;
  height: 600px;
  width: 600px;
  place-self: center;
}

.GameFrame {
  color: white;
  height: 700px;
  width: 800px;
  display: grid;  
  place-self: center;
}

h1 {
  color: black;
  font-size: 24px;
  margin: 0;
  padding: 0;
}

h2 {
  color: black;
  font-size: 18px;
  margin: 0;
  padding: 0;
}

/* Navbar */
.navbar {
  width: 600px;
  height: 40px;
  left: 25%;
}

.navItem {
  padding: 4px;
  margin: 4px;
  color: #99aaef;
  border-bottom: 2px solid;
  border-radius: 4px;
}