/* Global */
#root {
  margin: 0 auto;
  text-align: center;
  height: 600px;
  width: 600px;
  place-self: center;
}

.GameFrame {
  color: white;
  height: 600px;
  width: 600px;
  display: flex;
}

h1 {
  color: black;
  font-size: 24px;
  margin: 0;
  padding: 0;
}

h2 {
  color: black;
  font-size: 18px;
  margin: 0;
  padding: 0;
}

/* Map */
.parcel {
  height: 600px;
  width: 600px;
  display: grid;
  position: relative;
}

tbody {
  height: 600px;
  width: 600px;
  gap: 0;
}

tr {
  height: 40px;
  width: 600px;
  display: flex;
}

.tile {
  padding: 0;
  width: 40px;
  height: 40px;
}

.void {
  background-color: black;
}

.grass {
  background-color: #0c5d0c;
}

.boulder {
  background-color: #504e4e;
}

.water {
  background-color: #1966a8;
}

.tree {
  background-color: #1ba01b;
}

.snow {
  background-color: #d5f4fa;
}

.sand {
  background-color: #f7d18f;
}

.palm {
  background-color: #6fd42f;
}

.ice {
  background-color: #74b7e4;
}

.selected {
  width: 38px;
  height: 38px;
  border: 1px solid red;
  transition: all 0.2s ease-in-out;
}

.MapView {
  display: inline-flex;
  border-radius: 4px;
  border: 2px solid #99aaef;
  padding: 10px;
  margin-left: 10px;
  background-color: #d4d4cd;
  width: 200px;
  min-width: 200px;
}

.close-button {
  margin: 5px;
  background-color: red;
  color: black;
  border: none;
  height: 25px;
  cursor: pointer;
  align-items: center;
}

.Pause {
  padding: 35%;
}

/* Auction House */
.ah-main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: 1px solid #99aaef;
  height: 560px;
  width: 600px;
  margin: 0 auto;
  text-align: center;
}

.ah-nav {
  display: flex;
  justify-items: center;
  align-items: center;
  justify-self: left;
  border: 1px solid #99aaef;
}

.ah-body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  overflow-y: auto;
  height: 480px;
  width: 600px;
  margin: 0 auto;
  text-align: center;
}

.ah-listing {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: left;
  justify-self: right;
  margin: 20px;
  padding: 20px;
  height: 80px;
  width: 400px;
  border: 1px solid #99aaef;
}

.ah-listing-image {
  width: 70px;
  height: 70px;
  margin-right: 20px;
  border: 1px solid #99aaef;
}

.ah-footer {
  display: flex;
  right: 10%;
  justify-content: center;
  margin-top: 10px;
  padding: 10px;
}

.ah-listing-details {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

/* Commodities */
.ct-nav {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 50px;
  gap: 30px;
}

.ct-icon {
  width: 50px;
  height: 50px;
}

.ct-balance {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 20px;
}

/* Navbar */
.navbar {
  width: 600px;
  height: 40px;
  left: 25%;
}

.navItem {
  padding: 4px;
  margin: 4px;
  color: #99aaef;
  border-bottom: 2px solid;
  border-radius: 4px;
}