/* Map */
.parcel {
  height: 600px;
  width: 600px;
  display: grid;
  position: relative;
  grid-column: 1;
}

tbody {
  height: 600px;
  width: 600px;
  gap: 0;
}

tr {
  height: 40px;
  width: 600px;
  display: flex;
}

.tile {
  background-repeat: no-repeat;
  padding: 0;
  width: 40px;
  height: 40px;
  background-image: url('/Terrain.png');
  background-size: 120px 160px;
  position: relative;
}

.terrain {
  background-repeat: no-repeat;
  width: 40px;
  height: 40px;
}

.void {
  background-position: 40px 0;
}

.grass {
  background-position: 0 0;
}

.sand {
  background-position: -40px 0;
}

.snow {
  background-position: -80px 0;
}

.tree {
  background-position: 0 -40px;
}

.palm {
  background-position: -40px -40px;
}

.evergreen {
  background-position: -80px -40px;
}

.boulder {
  background-position: 0 -80px;
}

.sandstone {
  background-position: -40px -80px;
}

.packed-ice {
  background-position: -80px -80px;
}

.flowers {
  background-position: 0 -120px;
}

.seashells {
  background-position: -40px -120px;
}

.ice {
  background-position: -80px -120px;
}

.water {
  background-image: url('/Water.png');
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}

.selected {
  width: 38px;
  height: 38px;
  border: 1px solid red;
}

.hovered {
  width: 38px;
  height: 38px;
  border: 1px solid #6fd42f;
}

.building-Selected {
  background-color: #282629;
  border-radius: 4px;
  border: 2px solid #99aaef;
  width: 60px;
  height: 60px;
}

/* Details Panel */

.BuildingView {
  border: 2px solid #99aaef;
  background-color: rgb(97, 85, 160);
  width: 192px;
  max-width: 192px;
  margin-left: 4px;
  user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}

.ResourceView {
  background-color: rgb(97, 85, 160);
  border-radius: 4px;
  border: 2px solid #99aaef;
  width: 192px;
  max-width: 192px;
  margin-left: 4px;
  user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;

}

.InventoryView {
  background-color: #282629;
  border-radius: 4px;
  border: 2px solid #99aaef;
  width: 576px;
  max-width: 576px;
  height: 72px;
  padding: 10px;
  display: flex;
}

:is(.lumber, .quarry, .deposit, .mill, .mine, .Clay, .Wood, .Stone, .Steel, .Gold, .Plots)::after {
  content: "";
  position: absolute;
  inset: 0;
  background-image: url('/Buildings.png');
  background-size: 240px 80px;
  background-repeat: no-repeat;
  pointer-events: none;
}

.lumber::after {
  background-position: 0 0;
}

.deposit::after {
  background-position: -40px 0;
}

.quarry::after {
  background-position: -80px 0;
}

.mill::after {
  background-position: -120px 0;
}

.mine::after {
  background-position: -160px 0;
}

.Clay::after {
  background-position: 0 -40px;
}

.Wood::after {
  background-position: -40px -40px;
}

.Stone::after {
  background-position: -80px -40px;
}

.Steel::after {
  background-position: -120px -40px;
}

.Gold::after {
  background-position: -160px -40px;
}

.Plots::after {
  background-position: -200px 0;
}

.Inventory-Item {
  background-color: #282629;
  border-radius: 4px;
  border: 2px solid #99aaef;
  background-size: 70px;
  /* or "cover" / "contain" */
  background-position: left;
  background-repeat: no-repeat;
  width: 164px;
  text-align: right;
  padding-right: 4px;
  margin-right: 10px;
  user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}

.BuildingView,
.ResourceView {
  grid-column: 2;
}

.close-button {
  margin: 5px;
  background-color: red;
  color: black;
  border: none;
  height: 25px;
  cursor: pointer;
  align-items: center;
}

.terra-button {
  background-image: url('/womp_Womp.png');
  background-size: 96px;
  /* or "cover" / "contain" */
  background-position: left;
  background-repeat: no-repeat;
  height: 96px;
  width: 192px;
  grid-column: 2;
  text-align: right;
  margin-left: 4px;
}

.Pause {
  padding: 35%;
}