/* Map */

.Pause {
  padding: 236px;
}

.background {
  /* Filler background */
  background-image: url("/womp_Womp.png");
  background-repeat: no-repeat;
  background-size: contain;
}

.Map {
  border-spacing: 0;
  padding: 20px
}

.Map-Row {
  height: 40px;
}

.Map-Tile {
  width: 38px;
  padding: 0;
  border: 1px solid lime
}