#root {
  margin: 0 auto;
  text-align: center;
  border: 2px solid white;
  height: 600px;
  width: 600px;
  place-self: center;
}

.GameFrame {
  color: white;
}

.parcel {
  height: 600px;
  width: 600px;
  display: grid;
}

tbody {
  height: 600px;
  width: 600px;
  gap: 0;
}

tr {
  height: 30px;
  width: 600px;
  display: flex;
}

.void, .grass, .water, .boulder, .dirt {
  padding: 0;
  width: 30px;
  height: 30px;
}

.void {
  background-color: black;
}

.grass {
  background-color: green;
}

.boulder {
  background-color: gray;
}

.water {
  background-color: blue;
}

.dirt {
  background-color: brown;
}

.selected {
  width: 28px;
  height: 28px;
  border: 1px solid red;
  transition: all 0.2s ease-in-out;
}

.Pause {
  padding: 25%;
  place-self: center;
}

.navbar {
  top: 0;
  width: 10%;
  left: 25%;
  display: contents;
  justify-content: space-between;
}

.navItem {
  padding: 4px;
  margin: 4px;
  color: #99aaef;
  border-bottom: 2px solid;
  border-radius: 4px;
}